<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angel-investors | Fundgaze</title>
    <link rel="stylesheet" href="/styles/debtorHome.css">
</head>
<body>
    
    <section class="section__container room__container" id="investors">

        


        <div class="room__grid">
          <div class="room__card">
            <div class="room__card__image">
              <img src="/images/ajeet-khurana.jpeg" alt="room" />
             
            </div>
            <div class="room__card__details">
              <h4>Ajeet Khurana</h4>
              <p>
                Ajeet Khurana is an early-stage investor and the CEO of both Aurora Invest and ah! Ventures. He has invested in over 40 companies, including Cleartrip, Dailyhunt, and Portea Medical.
              </p>
              <h5>Primary Region <span>Asia-Pacific</span></h5>
              <button class="btn">Book Now</button>
            </div>
          </div>
  
          <div class="room__card">
            <div class="room__card__image">
              <img src="/images/rajan_anandan.jpg" alt="room" />
              
            </div>
  
            <div class="room__card__details">
              <h4>Rajan Anandan</h4>
              <p>
                Rajan Anandan, the Managing Director of Sequio Capital India , Ex-MD of  Google India, and an MIT graduate, is among the most active angel investors in India of recent times. 
                    </p>
              <h5>Primary Organization <span>Sequio Capital </span></h5>
              <button class="btn">Book Now</button>
            </div>
          </div>
  
  
          <div class="room__card">
            <div class="room__card__image">
              <img src="/images/Sanjay-mehta.jpeg" alt="room" />
             
            </div>
            <div class="room__card__details">
              <h4> Sanjay Mehta</h4>
              <p>
                Sanjay Mehta, the founder of MAIA Intelligence, is a member of the Indian Angel Network, Venture Nursery, and Mumbai Angel Network groups as an investor.Sanjay works with his portfolio firms to help them interact with CIOs and CTOs
              </p>
              <h5>Primary Region <span>Asia Pacific</span></h5>
              <button class="btn">Book Now</button>
            </div>
        </div>
    </div>

    
    <div class="room__grid">
        <div class="room__card">
          <div class="room__card__image">
            <img src="/images/lalit-keshre.jpg" alt="room" />
           
          </div>
          <div class="room__card__details">
            <h4> Lalit Keshre</h4>
            <p>
                Lalit Keshre is an Indian businessman and entrepreneur. He is the co-founder and CEO of Groww, an Indian investment platform. 
                Keshre and his colleagues established a one-of-a-kind company that provides individuals in India 
            </p>
            <h5>Primary Region <span>Asia-Pacific</span></h5>
            <button class="btn">Book Now</button>
          </div>
        </div>

        <div class="room__card">
          <div class="room__card__image">
            <img src="/images/kunal-bhal.jpg" alt="room" />
            
          </div>

          <div class="room__card__details">
            <h4> Kunal Bahl</h4>
            <p>
                Kunal Bahl is an Indian entrepreneur, investor, and co-founder and CEO of Snapdeal, an Indian e-commerce firm. He graduated from the University of Pennsylvania's Jerome Fisher Program in Management
                  </p>
                  <h5>Primary Region <span>Asia-Pacific</span></h5>
                <button class="btn">Book Now</button>
          </div>
        </div>


        <div class="room__card">
          <div class="room__card__image">
            <img src="/images/ramakant-sharma.jpeg" alt="room" />
           
          </div>
          <div class="room__card__details">
            <h4>  Ramakant Sharma</h4>
            <p>
                Ramakant is a seasoned tech entrepreneur and active angel investor with over 15 years of expertise in technology firms (SaaS, consumer internet, deep tech), as well as early-stage investments. 
            </p>
            <h5>Primary Region <span>Asia Pacific</span></h5>
            <button class="btn">Book Now</button>
          </div>
      </div>
  </div>

  <div class="room__grid">
    <div class="room__card">
      <div class="room__card__image">
        <img src="/images/asish-gupta.jpeg" alt="room" />
       
      </div>
      <div class="room__card__details">
        <h4>  Ashish Gupta</h4>
        <p>
            Dr. Ashish Gupta is a business owner, consultant, and strategic angel investor. Helion Advisors was co-founded in 2006, and he currently represents Helion Advisors, which manages a $600 million corpus over three funds. 
        </p>
        <h5>Primary Region <span>Asia-Pacific</span></h5>
        <button class="btn">Book Now</button>
      </div>
    </div>

    <div class="room__card">
      <div class="room__card__image">
        <img src="/images/gokul-rajaram.jpeg" alt="room" />
        

      </div>

      <div class="room__card__details">
        <h4> Gokul Rajaram</h4>
        <p>
            Gokul Rajaram is an investor and Internet entrepreneur. He is a member of the Pinterest and The Trade Desk boards of directors. He attended the Indian Institute of Technology, Kanpur,He has invested in businesses Router Protocol, Planet Spark.
              </p>
              <h5>Primary Organization <span>Unacademy</span></h5>
            <button class="btn">Book Now</button>
      </div>
    </div>


    <div class="room__card">
      <div class="room__card__image">
        <img src="/images/gaurav-gupta.jpeg" alt="room" />
       
      </div>
      <div class="room__card__details">
        <h4>   Gaurav Gupta</h4>
        <p>
            Worked at Zomato as the Global Head of Advertising Sales before being promoted to COO. He was promoted to the position of Zomato's Co-founder. 
        </p>
        <h5>Primary Region <span>Asia Pacific</span></h5>
        <button class="btn">Book Now</button>
      </div>
  </div>
</div>



            
    

            
            
  
      </section>
</body>
</html>