<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angel Investors | Fundgaze</title>
    <link rel="stylesheet" href="/styles/debtorHome.css">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W1BL0159FZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W1BL0159FZ');
</script>
<body>

  <div  style="background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 69%, rgba(2,0,36,1) 100%);">
    <nav>
      <div class="nav__bar">
        <div class="logo">
          <a href="#"><img src="/images/logo-d.png" alt="logo" /></a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
        <h2 style="color: white; font-family: 'Montserrat', sans-serif;">Pioneers in Investment</h2>
      <button class="btn nav__btn"><a href="/debtor/debtorProfile" style="color: white;"><b>My Profile</b></a></button>
    </nav>
  </div>
    
    <section class="section__container room__container" id="investors">
        <h2>INDIAS'S MOST INFLUENTIAL ANGEL INVESTORS <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#000000" fill="none">
          <path d="M13.6177 21.367C13.1841 21.773 12.6044 22 12.0011 22C11.3978 22 10.8182 21.773 10.3845 21.367C6.41302 17.626 1.09076 13.4469 3.68627 7.37966C5.08963 4.09916 8.45834 2 12.0011 2C15.5439 2 18.9126 4.09916 20.316 7.37966C22.9082 13.4393 17.599 17.6389 13.6177 21.367Z" stroke="currentColor" stroke-width="1.5" />
          <path d="M15.5 11C15.5 12.933 13.933 14.5 12 14.5C10.067 14.5 8.5 12.933 8.5 11C8.5 9.067 10.067 7.5 12 7.5C13.933 7.5 15.5 9.067 15.5 11Z" stroke="currentColor" stroke-width="1.5" />
      </svg></h2>
      <div class="room__grid">
        <div class="room__card">
          <div class="room__card__image">
            <img src="/images/anupam-mitthal.jpg" alt="room" />
          </div>
          <div class="room__card__details">
            <h4>Anupam Mittal</h4>
            <p>
              Anupam Mittal has established himself as a prominent figure in the angel investor community thanks to his highly successful enterprise Shaadi.com. He was recently seen in the shark tank show.
            </p>
            <h5>Primary Organization <span>Shaadi.com</span></h5>
            <button class="btn">Learn More</button>
          </div>
        </div>

        <div class="room__card">
          <div class="room__card__image">
            <img src="/images/Ritesh_Agarwal.jpeg" alt="room" />
            
          </div>

          <div class="room__card__details">
            <h4>Ritesh Agarwal</h4>
            <p>
              Ritesh Agarwal is the founder and CEO of OYO Rooms, an Indian startup. The 27-year-old entrepreneur from Odisha, who comes from a modest background, has been dubbed India's youngest billionaire for the year 2021.
            </p>
            <h5>Primary Organization <span>OYO</span></h5>
            <button class="btn">Learn More</button>
          </div>
        </div>


        <div class="room__card">
          <div class="room__card__image">
            <img src="/images/Shrishti-sahu.png" alt="room" />
            
          </div>


          <div class="room__card__details">
            <h4>Shrishti Sahu</h4>
            <p>
              Shrishti is a serial entrepreneur who has made a profit in the financial technology sector. Shrishti has served as a member of the Investment Team at Lumis Partners (a private equity firm).
            </p>
            <h5>Primary Company <span>Swadharma Source Ventures</span></h5>
            <button class="btn">Learn More</button>
          </div>

          

        </div>
      </div>

      <div class="room__grid">
        <div class="room__card">
          <div class="room__card__image">
            <img src="/images/lalit-keshre.jpg" alt="room" />
           
          </div>
          <div class="room__card__details">
            <h4> Lalit Keshre</h4>
            <p>
                Lalit Keshre is an Indian businessman and entrepreneur. He is the co-founder and CEO of Groww, an Indian investment platform. 
                Keshre and his colleagues established a one-of-a-kind company that provides individuals in India 
            </p>
            <h5>Primary Organization <span>Grow</span></h5>
                        <button class="btn">Learn More</button>
          </div>
        </div>

        <div class="room__card">
          <div class="room__card__image">
            <img src="/images/kunal-bhal.jpg" alt="room" />
            
          </div>

          <div class="room__card__details">
            <h4> Kunal Bahl</h4>
            <p>
                Kunal Bahl is an Indian entrepreneur, investor, and co-founder and CEO of Snapdeal, an Indian e-commerce firm. He graduated from the University of Pennsylvania's Jerome Fisher Program in Management
                  </p>
                  <h5>Primary Organization <span>Snapdeal</span></h5>
                <button class="btn">Learn More</button>
          </div>
        </div>


        <div class="room__card">
          <div class="room__card__image">
            <img src="/images/ramakant-sharma.jpeg" alt="room" />
           
          </div>
          <div class="room__card__details">
            <h4>  Ramakant Sharma</h4>
            <p>
                Ramakant is a seasoned tech entrepreneur and active angel investor with over 15 years of expertise in technology firms (SaaS, consumer internet, deep tech), as well as early-stage investments. 
            </p>
            <h5>Primary Organization <span>LivSpace</span></h5>
                        <button class="btn">Learn More</button>
          </div>
      </div>
  </div>





        <div class="room__grid">
          <div class="room__card">
            <div class="room__card__image">
              <img src="/images/ajeet-khurana.jpeg" alt="room" />
             
            </div>
            <div class="room__card__details">
              <h4>Ajeet Khurana</h4>
              <p>
                Ajeet Khurana is an early-stage investor and the CEO of both Aurora Invest and ah! Ventures. He has invested in over 40 companies, including Cleartrip, Dailyhunt, and Portea Medical.
              </p>
              <h5>Primary Region <span>Asia-Pacific</span></h5>
              <button class="btn">Learn More</button>
            </div>
          </div>
  
          <div class="room__card">
            <div class="room__card__image">
              <img src="/images/rajan_anandan.jpg" alt="room" />
              
            </div>
  
            <div class="room__card__details">
              <h4>Rajan Anandan</h4>
              <p>
                Rajan Anandan, the Managing Director of Sequio Capital India , Ex-MD of  Google India, and an MIT graduate, is among the most active angel investors in India of recent times. 
                    </p>
              <h5>Primary Organization <span>Sequio Capital </span></h5>
              <button class="btn">Learn More</button>
            </div>
          </div>
  
  
          <div class="room__card">
            <div class="room__card__image">
              <img src="/images/Sanjay-mehta.jpeg" alt="room" />
             
            </div>
            <div class="room__card__details">
              <h4> Sanjay Mehta</h4>
              <p>
                Sanjay Mehta, the founder of MAIA Intelligence, is a member of the Indian Angel Network, Venture Nursery, and Mumbai Angel Network groups as an investor.Sanjay works with his portfolio firms to help them interact with CIOs and CTOs
              </p>
              <h5>Primary Organization <span>Codemojo</span></h5>
              <button class="btn">Learn More</button>
            </div>
        </div>
    </div>

    
    
  <div class="room__grid">
    <div class="room__card">
      <div class="room__card__image">
        <img src="/images/asish-gupta.jpeg" alt="room" />
       
      </div>
      <div class="room__card__details">
        <h4>  Ashish Gupta</h4>
        <p>
            Dr. Ashish Gupta is a business owner, consultant, and strategic angel investor. Helion Advisors was co-founded in 2006, and he currently represents Helion Advisors, which manages a $600 million corpus over three funds. 
        </p>
        <h5>Primary Organization <span>Drishti</span></h5>
        <button class="btn">Learn More</button>
      </div>
    </div>

    <div class="room__card">
      <div class="room__card__image">
        <img src="/images/gokul-rajaram.jpeg" alt="room" />
        

      </div>

      <div class="room__card__details">
        <h4> Gokul Rajaram</h4>
        <p>
            Gokul Rajaram is an investor and Internet entrepreneur. He is a member of the Pinterest and The Trade Desk boards of directors. He attended the Indian Institute of Technology, Kanpur,He has invested in businesses Router Protocol, Planet Spark.
              </p>
              <h5>Primary Organization <span>Unacademy</span></h5>
            <button class="btn">Learn More</button>
      </div>
    </div>


    <div class="room__card">
      <div class="room__card__image">
        <img src="/images/gaurav-gupta.jpeg" alt="room" />
       
      </div>
      <div class="room__card__details">
        <h4>   Gaurav Gupta</h4>
        <p>
            Worked at Zomato as the Global Head of Advertising Sales before being promoted to COO. He was promoted to the position of Zomato's Co-founder. 
        </p>
        <h5>Primary Organization <span>Zomato</span></h5>
        <button class="btn">Learn More</button>
      </div>
  </div>
</div>
      </section>

      <footer class="footer" id="contact">
        <div class="section__container footer__container">
          <div class="footer__col">
            <div class="logo">
              <a href="#home"><img src="/images/logo-3.png" alt="logo" /></a>
            </div>
            <p class="section__description">
              Empowering startups with expert fundraising support, investor connections, and strategic guidance to turn visionary ideas into reality.
            </p>
            <!-- <button class="btn" >Raise Fund</button> -->
          </div>
          <div class="footer__col">
            <h4>QUICK LINKS</h4>
            <ul class="footer__links">
              <li><a href="#">Home</a></li>
              <li><a href="#">Investors</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </div>
          <div class="footer__col">
            <h4>OUR SERVICES</h4>
            <ul class="footer__links">
              <li><a href="#">Investor matching</a></li>
              <li><a href="#">Fundraising Campaign Management</a></li>
              <li><a href="#">Pitch Deck Creation</a></li>
              <li><a href="#">Startup Consultation
  
              </a></li>
            </ul>
          </div>
          <div class="footer__col">
            <h4>CONTACT US</h4>
            <ul class="footer__links">
              <li><a href="#">avisheksharma2004@gmail.com</a></li>
              <li><a href="#">ayushsingh18777@gmail.com</a></li>
            </ul>
            <div class="footer__socials">
              <a href="#"><img src="/images/facebook.png" alt="facebook" /></a>
              <a href="#"><img src="/images/instagram.png" alt="instagram" /></a>
              <a href="#"><img src="/images/youtube.png" alt="youtube" /></a>
              <a href="#"><img src="/images/twitter.png" alt="twitter" /></a>
            </div>
          </div>
        </div>
        <div class="footer__bar">
          Copyright © 2024 FundGaze - Fuel Your Vision. All rights reserved.
        </div>
      </footer>

</body>
</html>