<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/debtorHome.css" />
    <title>HOME | DEBTOR | FundGaze</title>
  </head> 

  
  <body>
    <header class="header">
      <nav>
        <div class="nav__bar">
          <div class="logo">
            <a href="#"><img src="/images/logo-3.png" alt="logo" /></a>
          </div>
          <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
          </div>
        </div>
        <ul class="nav__links" id="nav-links">
          <li><a href="#home">Home</a></li>
          <li><a href="#investors">Investors</a></li>
          <li><a href="#service">Services</a></li>
          <li><a href="#contact">Contact us</a></li>
        </ul>
        <button class="btn nav__btn"><a href="/debtor/debtorProfile" style="color: white;"><b>My Profile</b></a></button>
      </nav>
      <div class="section__container header__container" id="home">
        <p>Invest - Innovate - Inspire</p>
        <h1>Make Your Plan<br />A <span> Reality Here</span>.</h1>
      </div>
    </header>

    <section class="section__container booking__container">
      <form id="fundraising-form" class="booking__form">
        <div class="input__group">
          <span><i class="ri-calendar-2-fill"></i></span>
          <div>
            <label for="amount">Amount</label>
            <input type="number" class="amount" name="amount" placeholder="Enter the amount" required />
          </div>
        </div>
        <div class="input__group">
          <span><i class="ri-calendar-2-fill"></i></span>
          <div>
            <label for="equity">Equity</label>
            <div style="display: flex;">
              <input type="number" class="equity" name="equity" placeholder="Equity Shares" required />
              <span>%</span>
            </div>
          </div>
        </div>
        <div class="input__group">
          <span><i class="ri-user-fill"></i></span>
          <div>
            <label for="email">Business Email</label>
            <input type="email" class="email" name="email" placeholder="peter.p@zylker.com" required />
          </div>
        </div>
        <div class="input__group input__btn">
          <button type="button" id="raise-fund-btn" class="btn">RAISE FUND</button>

        </div>
      </form>
    </section>


    <section class="section__container about__container" id="about">
      <div class="about__image">
        <img src="/images/about-us.jpg" alt="about" />
      </div>
      <div class="about__content">
        <p class="section__subheader">ABOUT US</p>
        <h2 class="section__header">Empowering Startups, Driving Innovation Together. </h2>
        <p class="section__description">
At FundGaze, we specialize in empowering startups with comprehensive fundraising solutions. Our expert team provides tailored services, including pitch deck creation, campaign management, and investor matching, to bridge the gap between visionary entrepreneurs and potential investors.
Founded with a vision to transform the startup landscape, we leverage our deep industry knowledge and extensive network to deliver impactful results. Our proven track record and dedication to excellence make us a trusted partner in turning groundbreaking ideas into successful ventures.
        </p>
        <div class="about__btn">
          <button class="btn">Read More</button>
        </div>
      </div>
    </section>

    <section class="section__container room__container" id="investors">
      <p class="section__subheader">TOP ANGEL INVESTORS</p>
      <h2 class="section__header"> Find Your Next Big Idea and Growth Potential Here.</h2>
      <div class="room__grid" style="display: flex;">
        <div class="room__card">
          <div class="room__card__image">
            <img src="/images/anupam-mitthal.jpg" alt="room" />
            <div class="room__card__icons">
              <span><i class="ri-heart-fill"></i></span>
              <span><i class="ri-paint-fill"></i></span>
              <span><i class="ri-shield-star-line"></i></span>
            </div>
          </div>
          <div class="room__card__details">
            <h4>Anupam Mittal</h4>
            <p>
              Anupam Mittal has established himself as a prominent figure in the angel investor community thanks to his highly successful enterprise Shaadi.com. He was recently seen in the shark tank show.
            </p>
            <h5>Primary Organization - <span>Shaadi.com</span></h5>
            <button class="btn">Book Now</button>
          </div>
        </div>

        <div class="room__card">
          <div class="room__card__image">
            <img src="/images/Ritesh_Agarwal.jpeg" alt="room" />
            <div class="room__card__icons">
              <span><i class="ri-heart-fill"></i></span>
              <span><i class="ri-paint-fill"></i></span>
              <span><i class="ri-shield-star-line"></i></span>
            </div>
          </div>

          <div class="room__card__details">
            <h4>Ritesh Agarwal</h4>
            <p>
              Ritesh Agarwal is the founder and CEO of OYO Rooms, an Indian startup. The 27-year-old entrepreneur from Odisha, who comes from a modest background, has been dubbed India's youngest billionaire for the year 2021.
            </p>
            <h5>Primary Organization - <span>OYO</span></h5>
            <button class="btn">Book Now</button>
          </div>
        </div>


        <div class="room__card">
          <div class="room__card__image">
            <img src="/images/Shrishti-sahu.png" alt="room" />
            <div class="room__card__icons">
              <span><i class="ri-heart-fill"></i></span>
              <span><i class="ri-paint-fill"></i></span>
              <span><i class="ri-shield-star-line"></i></span>
            </div>
          </div>


          <div class="room__card__details">
            <h4>Shrishti Sahu</h4>
            <p>
              Shrishti is a serial entrepreneur who has made a profit in the financial technology sector. Shrishti has served as a member of the Investment Team at Lumis Partners (a private equity firm).
            </p>
            <h5>Primary Organization - <span>Swadharma Source Ventures</span></h5>
            <button class="btn">Book Now</button>
          </div>
        </div>
      </div>

      <div class="svg-container" style="display: flex; flex-direction: column; align-items: center; padding-top: 70px;">
        <a href="/debtor/allinvestors">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50" color="#000000" fill="none">
            <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5" />
            <path d="M16 12L8 12M16 12C16 12.7002 14.0057 14.0085 13.5 14.5M16 12C16 11.2998 14.0057 9.99153 13.5 9.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </a>
        <b class="svg-text">More</b> <!-- Add text below SVG -->
      </div>
      

    </section>

    <section class="service" id="service">
      <div class="section__container service__container">
        <div class="service__content">
          <p class="section__subheader">SERVICES</p>
          <h2 class="section__header">Strive Only For The Best.</h2>
          <ul class="service__list">
            <li>
              <span><i class="ri-shield-star-line"></i></span>
              Investor Matching
            </li>
            <li>
              <span><i class="ri-24-hours-line"></i></span>
              Fundraising Campaign Management
            </li>
            <li>
              <span><i class="ri-headphone-line"></i></span>
              Pitch Deck Creation
            </li>
            <li>
              <span><i class="ri-map-2-line"></i></span>
              Startup Consultation
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section__container banner__container">
      <div class="banner__content">
        <div class="banner__card">
          <h4><%= totalDebtors %>+</h4>
          <p>Fundraisers</p>
        </div>
        <div class="banner__card">
          <h4>10+</h4>
          <p>Investors</p>
        </div>
        <div class="banner__card">
          <h4>10,00,000+</h4>
          <p>Fund Raised</p>
        </div>
      </div>
    </section>


    

    <section class="explore" id="calculation">
      <p class="section__subheader">CALCULATE</p>
      <h2 class="section__header">Estimate your worth.</h2>
      <div class="explore__bg">
        <div class="explore__content">
          <div style="display: flex;">
            <div>
              <p class="section__description">Company's Valuation</p>
              <h1 id="valuation-amount">&#8377;50,000,000</h1>
              <a href="/debtor/allinvestors" class="btn">Continue</a>
            </div>
            <div class="details" style="padding-left: 50vh;">
              <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>See Breakup</u></strong>
              <div id="breakup-details" style="padding-left:-120px;">
                <p>Want to raise (₹) : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10,00,000</p>
                <p>FundGaze platform fee 0.5% (₹) : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.3%</p>
                <p>Payment gateway charges 12% (₹) : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
   
  </div>

    <footer class="footer" id="contact">
      <div class="section__container footer__container">
        <div class="footer__col">
          <div class="logo">
            <a href="#home"><img src="/images/logo-3.png" alt="logo" /></a>
          </div>
          <p class="section__description">
            Empowering startups with expert fundraising support, investor connections, and strategic guidance to turn visionary ideas into reality.
          </p>
          <!-- <button class="btn" >Raise Fund</button> -->
        </div>
        <div class="footer__col">
          <h4>QUICK LINKS</h4>
          <ul class="footer__links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Investors</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h4>OUR SERVICES</h4>
          <ul class="footer__links">
            <li><a href="#">Investor matching</a></li>
            <li><a href="#">Fundraising Campaign Management</a></li>
            <li><a href="#">Pitch Deck Creation</a></li>
            <li><a href="#">Startup Consultation

            </a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h4>CONTACT US</h4>
          <ul class="footer__links">
            <li><a href="#">avisheksharma2004@gmail.com</a></li>
            <li><a href="#">ayushsingh18777@gmail.com</a></li>
          </ul>
          <div class="footer__socials">
            <a href="#"><img src="/images/facebook.png" alt="facebook" /></a>
            <a href="#"><img src="/images/instagram.png" alt="instagram" /></a>
            <a href="#"><img src="/images/youtube.png" alt="youtube" /></a>
            <a href="#"><img src="/images/twitter.png" alt="twitter" /></a>
          </div>
        </div>
      </div>
      <div class="footer__bar">
        Copyright © 2024 FundGaze - Fuel Your Vision. All rights reserved.
      </div>
    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/scripts/debtorHome.js"></script>
    

  </body>
</html>
