<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/developer.css" />
    <title>Web Design Mastery | Camp</title>
  </head>
  <body>
    

  <div class="container">

      <div class="container__left"> 
        <h1>More About Developer</h1>
        <div class="container__btn">
          <button class="btn"><a href="https://www.linkedin.com/in/abhisheksharma-731676205/" style="color: white;" target="_blank">CONNECT</a></button>
        </div>
      </div>
      <div class="container__right">
        <div class="images">
          <img src="/images/abhishek.jpg" alt="tent-1" class="tent-1" />
          <!-- <img src="/images/tent-2.jpg" alt="tent-2" class="tent-2" /> -->
        </div>
        <div class="content">
          <h4>ABHISHEK SHARMA</h4>
          <h2>BACKEND DEVELOPER</h2>
          <h3>MERN STACK EXPERTISE</h3>
          <p>
            Skilled in the MERN stack, I build robust web applications using MongoDB, Express.js, React.js, and Node.js, ensuring efficient, full-stack development and seamless user experiences.🚀
          </p>
        </div>
        
        <div class="socials">
          <span>
          <a href="https://github.com/abhisheksharma226" target="_blank"><i class="ri-github-fill"></i></a>
        </span>
        <span>
          <a href="https://www.instagram.com/abhick._/" target="_blank"><i class="ri-instagram-line"></i></a>
        </span>
        <span>
          <a href="https://x.com/ABHISHE46532584" target="_blank"><i class="ri-twitter-fill"></i></a>
        </span>
      </div>
    </div>
      
      
      <div class="container__left">
        <h1>More About Developer</h1>
        <div class="container__btn">
          <button class="btn" ><a href="https://www.linkedin.com/in/ayush-singh-373706273/" target="_blank" style="color: white;">CONNECT</a></button>
        </div>
      </div>
      <div class="container__right">
        <div class="images">
          <img src="/images/ayush.jpg" alt="tent-1" class="tent-1" />
          <!-- <img src="/images/tent-2.jpg" alt="tent-2" class="tent-2" /> -->
        </div>
        <div class="content">
          <h4>AYUSH SINGH</h4>
          <h2>FRONTEND DEVELOPER</h2>
          <h3>HTML | CSS | JS</h3>
          <p>
            Expertise in HTML, CSS, and JavaScript, enabling to create and style web pages, implement interactive features, and enhance user experiences efficiently.🧑‍💻
          </p>
        </div>
      </div>
      
  
      <div class="location">
        <span><i class="ri-map-pin-2-fill"></i></span>
        OUR LOCATION

      </div>

      <div class="socials">
        <span>
          <a href="https://github.com/ayushsingh1859" target="_blank"><i class="ri-github-fill"></i></a>
        </span>
        <span>
          <a href="https://www.instagram.com/i_mayushsingh/" target="_blank"><i class="ri-instagram-line"></i></a>
        </span>
        <span>
          <a href="https://x.com/i_mayushsingh" target="_blank"><i class="ri-twitter-fill"></i></a>
        </span>
      </div>

    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="main.js"></script>
  </body>
</html>
