<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You Page | FundGaze</title>
    <link rel="stylesheet" href="/styles/thankYou.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1>Thank You!</h1>
        </header>
        <main>
            <h2>We will schedule the meeting and get back to you shortly.</h2>
            <p>Thanks for selecting your investor.<br>
                Have a great day ahead!</p>
            <a href="/debtor/debtorHome"> <button  class="home-btn">Back To Home Page</button></a>
        </main>
        <footer>
            <h2>FundGaze Investors</h2>
            <p>Thank you for trusting FundGaze and supporting startups in their growth journey!</p>
        </footer>
    </div>
</body>
</html>
