* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #f0f4f8, #d9e2ec, #9fb3c8); /* Muted blues and greys */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 600px;
    text-align: center;
    padding: 40px;
    animation: fadeIn 1.2s ease-in-out;
}

header h1 {
    color: #28b463;
    font-size: 48px;
    font-weight: 600;
}

main h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 10px;
}

main h2 {
    color: #555;
    font-size: 20px;
    margin-bottom: 20px;
}

main p {
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
}

.home-btn {
    background-color: #28b463;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.home-btn:hover {
    background-color: #239b56;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

footer h2 {
    color: #28b463;
    font-size: 32px;
    margin-bottom: 10px;
}

footer p {
    color: #333;
    font-size: 16px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
